
.container-fluid{
    padding-top: 50px;
    height: 100%;
    background: rgb(1,70,108);
    background: linear-gradient(90deg, #3931af 3%, rgba(0,212,255,1) 100%);
   
  }

  
  .welcome-message{

    color:#ffffff;
    font-size: 4rem;
  
    margin-top: 75px;
    margin-left: 50px;
  }
  .description{
    color:#ffffff;
    margin-top: 10px;
    font-size: 3em;
    margin-left: 50px;
    font-weight: 600;
  }
  
  
  .mat-tab-group{
      margin-top: 50px;
      align-items:center;
      justify-content:right;
      width: 100%;
      height: 700px;
      color: #ffffff;
  
  }
  .mat-tab-header{
    font-size: 1.5em;
    justify-content: center;
  }
  
  .example-small-box, .example-large-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 16px;
      padding: 5px;
      border-radius: 8px;
      background-color: transparent;
    }
    
    .example-small-box {
      height: min-content;
      width: 600px;
      background-color: transparent;
    }
    
    .example-large-box {
      height: min-content;
      width: 600px;
    }
  
    .mat-tab-body{
        width: 450px;
    }
    html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
  
  }
  
  
  
  .login-wrapper {
    height: 100%;
    width: 100%;
  }
  
  .positronx {
    text-decoration: none;
    color: #ffffff;
  }
  
  .box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 100%;
  }
  
  .box.back {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    top: -20px;
    opacity: .8;
    z-index: -1;
  }
  
  .box:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    
    left: 0;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    z-index: -1;
  }
  
  .login-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
    background-color: transparent;
  }
  
  .login-wrapper .example-full-width,
  .login-wrapper .btn-block {
    width: 100%;
  }
  
  .login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }
  
  .login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
  }
  
  .login-wrapper .mat-card {
    padding: 40px 70px 50px;
  }
  
  .login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #FFF7FA;
  }
  
  .login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
  }
    