<div class="container-fluid">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab *ngIf='true' label="Add Faculty">
            <div class="example-large-box mat-elevation-z4">
                <app-add-faculty *matTabContent></app-add-faculty>
            </div>

        </mat-tab>
        <mat-tab label="Faculty Details">
            <div class="example-large-box-faculty mat-elevation-z4">
                <app-faculty-home *matTabContent></app-faculty-home>
            </div>


        </mat-tab>
        <mat-tab  label="Alumini">


            <div *matTabContent class="example-large-box mat-elevation-z4">
                <mat-card class="box">
                    <mat-card-header>
                      <mat-card-title><h2>
                        Alumni Details
                      </h2></mat-card-title>
                    </mat-card-header>
                
                    <div class="example-large-box mat-elevation-z4">
                      <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
                    <div class="row"  *ngFor='let faculty of facultydata'  >    
                      <br>
                      <div class="col-md-10 col-sm-9"> 
                      
                        <h3>Name:{{faculty.uname}}</h3>
                        <div class="row">
                          <div class="col-xs-9">
                            <h4><span class="label label-default">email: {{faculty.email}}</span></h4>
                          
                            <h4><span class="label label-default">Skills: {{faculty.skill}}</span></h4>
                            <h4><span class="label label-default">Experience: {{faculty.experience}}</span></h4>
                            <h4><span class="label label-default">Highest Qualification: {{faculty.hq}}</span></h4>
                            <h4> 
                              
                            <small class="text-muted">Phone Number: {{faculty.phoneno}}</small>
                            </h4></div>
                             
                            <mat-checkbox class="example-margin" [(ngModel)]="faculty.status">Checked</mat-checkbox>
                
                            <!-- *ngIf="_auth.isadmin()"  (click)="editfacultys(faculty)"
                            *ngIf="_auth.isadmin()"  (click)="deletefacultys(faculty)" -->
                            &nbsp;
                            <a  class="btn btn-primary" (click)="save(faculty)">Save<i  class="glyphicon glyphicon-chevron-right"></i></a>
                             &nbsp;
                
                            <a  class="btn btn-primary"  >Delete <i class="glyphicon glyphicon-chevron-right"></i></a>
                          <div class="col-xs-3"></div>
                        </div>
                        <br><br>
                      </div>
                      
                    </div>
                    
                
                      </div>
                    </div>
                    </mat-card>
            </div>


        </mat-tab>
        <mat-tab label="Employer">

            <div class="example-large-box mat-elevation-z4">
             
            </div>


        </mat-tab>
        <mat-tab label="Post Job">
            <div class="example-large-box mat-elevation-z4">
              <app-jobpost></app-jobpost>
            </div>
        </mat-tab>

        <mat-tab label="All Jobs">
          <div class="example-large-box mat-elevation-z4">
            <app-alljobs></app-alljobs>
          </div>
      </mat-tab>
    </mat-tab-group>



</div>